html, body {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  padding: 20px;

}

p {
  font-family: verdana;
  text-align: center;
}

canvas {
  margin: auto;
 display: block;
 padding: 20px;
}
