html, body {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  padding: 20px;
}

p {
  font-family: verdana;
  text-align: center;
}

h3 {
  font-family: verdana;
  text-align: center;
}

canvas {
  /* margin: auto; */

top: 0;
left: 0;
position: absolute;
z-index: -1;
 border: 5px, solid black;
}
